

header{
    @include flex(row, space-between, center);
    width: 100%;
    position: sticky;
    z-index: 1000;
    top: 0px;
    background-color: map-get($colores, secundario) !important;
    nav{
        @include flex($justify: flex-end);
        font-size: 20px;
        ul{
            @include flex($gap: 20px);
            list-style: none;
            margin: 0;
            padding: 0;
            a{
                @include link-style(map-get($colores, texto2), 20px);
            }
        }
    }
}

.logo{
    width: 130px;
}
